In [28]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.metrics.pairwise import cosine_similarity
import matplotlib.pyplot as plt

In [29]:
#Loading FIles 
Data = pd.read_csv(r"C:\Users\tammy\Downloads\category_tree.csv")
Data.head()

   categoryid  parentid
0        1016     213.0
1         809     169.0
2         570       9.0
3        1691     885.0
4         536    1691.0

In [30]:
Event = pd.read_csv(r"C:\Users\tammy\Downloads\events.csv\events.csv")
Event.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN

In [31]:
Item_Prop_1 = pd.read_csv(r"C:\Users\tammy\Downloads\item_properties_part1.csv\item_properties_part1.csv")
Item_Prop_1.head()

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513

In [32]:
Item_Prop_2 = pd.read_csv(r"C:\Users\tammy\Downloads\item_properties_part2.csv\item_properties_part2.csv")
Item_Prop_2.head()

       timestamp  itemid property            value
0  1433041200000  183478      561           769062
1  1439694000000  132256      976  n26.400 1135780
2  1435460400000  420307      921  1149317 1257525
3  1431831600000  403324      917          1204143
4  1435460400000  230701      521           769062

In [33]:
#Concating Item_Prop_1 and Item_Prop_2 into a single dataFrame
Item_Prop = pd.concat([Item_Prop_1, Item_Prop_2])
Item_Prop.head()

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513

In [34]:
#view the shape of the various data sets
Event.shape

(2756101, 5)

In [35]:
Data.shape

(1669, 2)

In [36]:
Item_Prop_1.shape

(10999999, 4)

In [37]:
Item_Prop_2.shape

(9275903, 4)

In [38]:
Item_Prop.shape

(20275902, 4)

In [39]:
Data.isnull().sum()

categoryid     0
parentid      25
dtype: int64

In [40]:
#checking for duplicates
print(Data.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
1664    False
1665    False
1666    False
1667    False
1668    False
Length: 1669, dtype: bool

In [41]:
#Dropping na values  in Data
Data.dropna(axis=0)

      categoryid  parentid
0           1016     213.0
1            809     169.0
2            570       9.0
3           1691     885.0
4            536    1691.0
...          ...       ...
1664          49    1125.0
1665        1112     630.0
1666        1336     745.0
1667         689     207.0
1668         761     395.0

[1644 rows x 2 columns]

In [42]:
#Checking for missing values
Event.isnull().sum()

timestamp              0
visitorid              0
event                  0
itemid                 0
transactionid    2733644
dtype: int64

In [43]:
#Checking for missing values
Item_Prop.isnull().sum()

timestamp    0
itemid       0
property     0
value        0
dtype: int64

In [44]:
#Checking the data types in each dataset
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1669 entries, 0 to 1668
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   categoryid  1669 non-null   int64
 1   parentid    1644 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 26.2 KB

In [45]:
Event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2756101 entries, 0 to 2756100
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   timestamp      int64
 1   visitorid      int64
 2   event          object
 3   itemid         int64
 4   transactionid  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 105.1+ MB

In [46]:
Item_Prop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20275902 entries, 0 to 9275902
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  int64
 1   itemid     int64
 2   property   object
 3   value      object
dtypes: int64(2), object(2)
memory usage: 773.5+ MB

In [47]:
#Event Count
event_count = Event.event.value_counts()
event_count

event
view           2664312
addtocart        69332
transaction      22457
Name: count, dtype: int64

In [48]:
#Event count
event_percentage =(event_count/len(Event))*100
event_percentage

event
view           96.669607
addtocart       2.515583
transaction     0.814810
Name: count, dtype: float64

In [49]:
#Grouping by Transcations
Event.groupby('event')['transactionid'].count()

event
addtocart          0
transaction    22457
view               0
Name: transactionid, dtype: int64

In [50]:
#Groouping by visitor Id
Event.groupby('event')['visitorid'].count()

event
addtocart        69332
transaction      22457
view           2664312
Name: visitorid, dtype: int64

In [51]:
#Removing duplicates 

#Printing the number of rows before removng duplicates
print('Number of rows before removing duplicates:', Event.shape[0])

#Remove duplicates based on all columns
Event.drop_duplicates(inplace=True)

#Print the number of rows after removing duplicates
print('Number of rows after removing duplicates: ', Event.shape[0])

Number of rows before removing duplicates: 2756101
Number of rows after removing duplicates:  2755641

In [53]:
#Changing the dates from Unisex time to readable time
Event['date_time'] = pd.to_datetime(Event['timestamp'], unit = 'ms')
Event['date_time']

0         2015-06-02 05:02:12.117
1         2015-06-02 05:50:14.164
2         2015-06-02 05:13:19.827
3         2015-06-02 05:12:35.914
4         2015-06-02 05:02:17.106
                    ...
2756096   2015-08-01 03:13:05.939
2756097   2015-08-01 03:30:13.142
2756098   2015-08-01 02:57:00.527
2756099   2015-08-01 03:08:50.703
2756100   2015-08-01 03:36:03.914
Name: date_time, Length: 2755641, dtype: datetime64[ns]

In [55]:
Event.head(20)

,timestamp,visitorid,event,itemid,transactionid,date_time
0,1433221332117,257597,view,355908,NaN,2015-06-02 05:02:12.117
1,1433224214164,992329,view,248676,NaN,2015-06-02 05:50:14.164
2,1433221999827,111016,view,318965,NaN,2015-06-02 05:13:19.827
3,1433221955914,483717,view,253185,NaN,2015-06-02 05:12:35.914
4,1433221337106,951259,view,367447,NaN,2015-06-02 05:02:17.106
5,1433224086234,972639,view,22556,NaN,2015-06-02 05:48:06.234
6,1433221923240,810725,view,443030,NaN,2015-06-02 05:12:03.240
7,1433223291897,794181,view,439202,NaN,2015-06-02 05:34:51.897
8,1433220899221,824915,view,428805,NaN,2015-06-02 04:54:59.221
9,1433221204592,339335,view,82389,NaN,2015-06-02 05:00:04.592
10,1433222162373,176446,view,10572,NaN,2015-06-02 05:16:02.373
11,1433221701252,929206,view,410676,NaN,2015-06-02 05:08:21.252
12,1433224229496,15795,view,44872,NaN,2015-06-02 05:50:29.496
13,1433223697356,598426,view,156489,NaN,2015-06-02 05:41:37.356
14,1433224078165,223343,view,402625,NaN,2015-06-02 05:47:58.165
15,1433222531378,57036,view,334662,NaN,2015-06-02 05:22:11.378
16,1433223239808,1377281,view,251467,NaN,2015-06-02 05:33:59.808
17,1433223236124,287857,addtocart,5206,NaN,2015-06-02 05:33:56.124
18,1433224244282,1370216,view,176721,NaN,2015-06-02 05:50:44.282
19,1433221078505,158090,addtocart,10572,NaN,2015-06-02 04:57:58.505